 nav.navbar {
   margin: $spacewebsite $spacewebsiteright 0 $spacewebsite;
   border-left: 1px solid $color;
   border-right: 1px solid $color;
 }





 /*--- nav scroller --
*/
 .nav-scroller .nav {
   color: rgba(255, 255, 255, .75);
 }

 .nav-scroller .nav-link {
   padding-top: .75rem;
   padding-bottom: .75rem;
   font-size: .875rem;
   color: #6c757d;
 }

 .nav-scroller .nav-link:hover,
 .nav-link.active,
 a.nav-link.active,
 .nav-scroller li.active a {
   color: #007bff;
 }




 /* -----  nav-2ningauto -----*/
 .nav-2ningauto a:hover,
 .nav-2ningauto .active a:hover,
 .nav-2ningauto a.active:hover {
   background: white;
   color: black;
 }


 .nav-2ningauto a.active {
   background: white;
   color: black;
   font-weight: bold;
 }

 .nav-tabs .nav-link:hover,
 .nav-tabs .nav-link:focus {
   border-bottom: 1px solid white;
 }

 /* menu offcanvas */
 .offcanvas-body {
   nav {
     ul.nav {
       display: inline-block !important;
     }
   }

   .nav-scroller li {
     margin-left: 0rem !important;
   }

   .nav-scroller li a {
     display: block !important;

   }

   .nav-scroller li a.flex-column {
     flex-direction: row !important;
     align-items: end;

     i {
       margin-right: 0.5rem !important;
     }
   }

   // menu dashboard
   nav.navbar {
     margin: 0;
     border: 0;
   }

   .menuDashbaord {
     &.mx-3 {
       padding: 0px;
       margin: 0 !important;
     }

     border: 0;

     a {
       border: 0;
       padding: 0px;
       padding-top: 0.3rem;
       padding-bottom: 0.3rem;
     }

     li a:hover {
       border: 0;
     }

     ul.dropdown-menu.show {
       position: relative !important;
       transform: translate(10px, 0px) !important;
       border-radius: 4px;
       font-size: 0.875rem;
       color: #6c757d;

       li {
         margin-left: 0.5rem !important;
         margin-right: 0.5rem !important;
       }
     }

   }
 }