  


 $bgcolor: #e7e7e7;
 $color: #ddd;
 $spacewebsite: 15px;
 $spacewebsiteright: 11px;
 $spacewebsitecalc: calc(100% - 26px);

 $radiusCard: 10px;
 $maxWidthCardImg: 200px;
 $maxHeightCardImg: 150px;
