 /* Custom page CSS
-------------------------------------------------- */
 @import "./node_modules/bootstrap/scss/bootstrap.scss";

 $bootstrap-icons-font-dir: "../fonts" !default;

 @import "./node_modules/bootstrap-icons/font/bootstrap-icons.scss";

 $bgcolor: #e7e7e7;
 $color: #ddd;
 $spacewebsite: 15px;
 $spacewebsiteright: 11px;
 $spacewebsitecalc: calc(100% - 26px);

 $radiusCard: 10px;
 $maxWidthCardImg: 200px;
 $maxHeightCardImg: 150px;


 html,
 body {
   // overflow-x: hidden;
   font-family: 'Roboto Flex', sans-serif;
 }

 html {
   background: $bgcolor; 
 }

 body {
   overflow-y: auto;
   display: block;
   border-left: 1px solid $color;
   border-right: 1px solid $color;
 }

 main {
   margin-top: 80px;
 }

 nav{
  height: 80px;
}

 .nav .nav-link {
   padding: 5px 10px;
 }


 /* fonts */
 p {
   -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased !important;
   -moz-font-smoothing: antialiased !important;
   text-rendering: optimizelegibility !important;
 }

 /* website text selections */
 html ::selection {
   color: white;
   background-color: black;
 }

 /*----------------------------------*/



 @import "scrollbar.scss";
 @import "helpers.scss";