

{% macro bodi(fee=1, title='brand model year', cat='daily used car', location='location region') %}
 

<div class="card-body  px-2 pb-2"  style="transform: rotate(0);"> 
  
    <div class="small border-start border-primary ps-2 mb-2">  {{ cat }}   </div>
    <h3 class=" card-title  h5 m-0 pb-2"> {{ title }}   </h3>
    <p class="card-text fst-italic small"> <i class="bi-geo-alt"></i>  {{ location }}  </p>
  </div>
  <div class=" px-2 pb-2   ">
    {% if fee==1 %}
     
  {% endif %}
  {% if fee==2 %}
  <div class="badge text-bg-light border border-danger-subtle fw-normal text-lowercase mt-2 me-2 end-0">
    premium user
  </div>
  {% endif %}  
  </div>
 
 
{% endmacro %} 
 